<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title '' %} - Todos</title>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ app.request.basepath }}/css/main.css" rel="stylesheet" type="text/css" />
  </head>
  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-home glyphicon-white"></span></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/todo">Todo list</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if user %}
              <li><a href="/logout"><span class="glyphicon glyphicon-user"></span> {{ user.username }} Logout</a></li>
            {% else %}
              <li><a href="/login">Login</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        {% block content %}{% endblock %}
      </div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type="text/javascript">
      function check_description(){
        var description=$('#description').val();
        if (description=='') {
          alert('Please enter a Description for the todo task');
        }
        else{
          $("#description_form").submit();
        }
      }
      setTimeout(function(){ $('#success').hide(); }, 10000);
    </script>
    <script type="text/javascript">
      $(document).ready (function () {   
        load_list();
      });
      function load_list(){
        $.ajax({
            url: "/fetch_todo",
            type: 'GET',
            dataType: 'json', // added data type
            success: function(res) {
              var result;
              for(var i = 0; i<res.length;i++){
                result+='<tr>\
                <td>'+res[i].id+'</td>\
                <td>'+res[i].user_id+'</td>\
                <td>';
                result+='<a href="{{ app.request.baseurl }}/todo/'+res[i].id+'">'+
                     res[i].description+
                 '</a>\
                 </td>\
                 <td>';
                    if (res[i].completed==0){
                      result+='<button type="submit" onclick="complete('+res[i].id+')" class="btn btn-xs btn-success"><span class="glyphicon glyphicon-ok"></span></button>';
                    }
                    else{
                      result+='<button type="submit" class="btn btn-xs btn-info">Completed</button>';
                    }
                result+='</td>\
                <td>\
                        <button type="submit" onclick="ajax_delete('+res[i].id+')" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-remove glyphicon-white"></span></button>\
                </td>\
                <td>\
                    <form method="post" action="{{ app.request.baseurl }}/todo/'+res[i].id+'/json">\
                        <button type="submit" class="btn btn-xs btn-light">JSON</button>\
                    </form>\
                </td>\
                </tr>';
              }
              $('#data').append(result);
            }
        });
      }
      function complete(id){
        $.ajax({
            url: "/ajax_complete/"+id,
            type: 'GET',
            success: function(res) {
              $("#data").load(location.href+" #data>*","");
              load_list();
            }
          });
      }
      function ajax_delete(id){
        $.ajax({
            url: "/ajax_delete/"+id,
            type: 'GET',
            success: function(res) {
              $("#data").load(location.href+" #data>*","");
              load_list();
            }
          });
      }
    </script>
    <script>  
    // $(document).ready (function () {  
    //     $('#data').after ('<div id="nav"></div>');  
    //     var rowsShown = 5;  
    //     var rowsTotal = $('#data tbody tr').length;  
    //     var numPages = rowsTotal/rowsShown;  
    //     for (i = 0;i < numPages;i++) {  
    //         var pageNum = i + 1;  
    //         $('#nav').append ('<a href="#" rel="'+i+'">'+pageNum+'</a> ');  
    //     }  
    //     $('#data tbody tr').hide();  
    //     $('#data tbody tr').slice (0, rowsShown).show();  
    //     $('#nav a:first').addClass('active');  
    //     $('#nav a').bind('click', function() {  
    //     $('#nav a').removeClass('active');  
    //    $(this).addClass('active');  
    //         var currPage = $(this).attr('rel');  
    //         var startItem = currPage * rowsShown;  
    //         var endItem = startItem + rowsShown;  
    //         $('#data tbody tr').css('opacity','0.0').hide().slice(startItem, endItem).  
    //         css('display','table-row').animate({opacity:1}, 300);  
    //     });  
    // });  
    </script>
  </body>
</html>